body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.hero {
    background-color: #007bff;
    color: white;
    padding: 60px 0;
}

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

h2 {
    margin-bottom: 30px;
}

h1 {
    color: black;
}

section {
    padding: 40px 0;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
